@page "/"

@using BlazorGeolocation
@inject BlazorGeolocationService blazorGeolocationService

<h1>Geolocation test</h1>

<button @onclick="TriggerGeoLocation">Get location</button>

<br/>
<br/>

@if (waiting)
{
<div>Getting location...</div>
}
else if (position != null)
{
    if (position.ErrorCode != null)
    {
        <div>ErrorCode: @position.ErrorCode</div>
        <div>ErrorMessage: @position.ErrorMessage</div>
    }
    else
    {
        <div>Accuracy: @position.Accuracy</div>
        <div>Latitude: @position.Latitude</div>
        <div>Longitude: @position.Longitude</div>
        <div>AltitudeAccuracy: @position.AltitudeAccuracy</div>
        <div>Altitude: @position.Altitude</div>
        <div>Heading: @position.Heading</div>
        <div>Speed: @position.Speed</div>
    }
}

@code
{
    private BlazorGeolocationPosition position;
    private bool waiting;

    public async Task TriggerGeoLocation()
    {
        waiting = true;
        try
        {
            position = await blazorGeolocationService.GetPositionAsync(true, 10000, 0);;
        }
        finally
        {
            waiting = false;
        }
    }
}
